.input {
    background: #88bd8d;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.input:hover {
    background-color: #74a679;
}

.button {
    background: #9985be;
    color: white;
}

.button:hover {
    background-color: #6955a4;
    color: ;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    margin: 5%;
}

h2 {
    font-size: larger;
    font-weight: bold;
}

h3 {
    font-size: medium;
    font-weight: 500;
}




.login-container, .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 10%;
    background-color: #95cf9b;
    border-radius: 10px;
    padding: 5px;
}

.inside-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
}

.login-container .inside-container .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    padding: 20px;
}

.login-container .inside-container .login-form .input-form {
    width: 70%;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .login-container, .signup-container {
        margin: 5% 2%;  /* Reduce margin on smaller screens */
    }

    .inside-container {
        grid-template-columns: 1fr; /* Stack items vertically */
        text-align: center;
    }

    .inside-container img {
        width: 100%;
        height: auto;  /* Ensure images scale appropriately */
    }

    .login-form, .signup-form {
        width: 90%; /* Ensure the form takes up most of the width on small screens */
        padding: 10px;
    }
}
.signup-container .inside-container .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    padding: 20px;
}

.login-container .inside-container .login-form .top, .bottom {
    width: 70%;
    justify-content: center;
    align-items: center;
}
.signup-container .inside-container .signup-form .top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
